
<section class="resend-pw invoice content">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="invoice-head col-xs-12">
                        <div class="col-md-4 col-sm-5 col-xs-6">
                            <h4>Şifrəni unutdum </h4>
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-6">
                            <ol class="breadcrumb web">
                                <li><a href="">Ana səhifə </a></li>
                                <li class="active"> Şifrəni unutdum</li>
                            </ol>
                            <ol class="breadcrumb mobile">
                                <li><a href="">... </a></li>
                                <li class="active">Şifrəni unutdum</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>                <div class="col-xs-12">
                <div class="forget-body block col-xs-12">
                    <div class="row relative">
                        <div class="forget-left col-sm-6 col-xs-12">
                            <h1>Şifrəniz göndərildi</h1>
                            <p>Əgər şifrə yenilənməsi ilə bağlı e-mail almamısınızsa;</p>
                            <ul class="list-unstyled">
                                <li>Spam qutusunu yoxlayın</li>
                                <li>Daxil etdiyiniz e-mail adresinin doğruluğuna əmin olun</li>
                                <li>Əgər hələ də e-mail almamısınızsa, təkrar yoxlayın</li>
                            </ul>
                          
                            <a asp-controller="Account" asp-action="ForgetPassword" class="btn-send btn-effect">Yenidən göndər</a>
                        </div>
                        <div class="forget-right col-sm-6 col-xs-12 text-center">
                            <div class="forget-bg">
                                <img src="~/assets/images/forget-ch.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>