@model ResetPasswordViewModel
<section class="page-block login">
    <div class="container">
        <div class="page-head">
            <img src="~/assets/images/qeydiyyat-page.png" alt="qeydiyyat">
            <h1>Şifrəni yenilə</h1>
        </div>
        <div class="block">
            <form method="POST" action="ResetPassword">
                <input type="hidden" asp-for="Token">
                <input type="hidden" asp-for="Email">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
                        <div class="login-block">
                            <div class="input-group">
                                <label for="email-log">E-mail</label>
                                <input type="email" asp-for="Email" class="form-control" value="" required="" placeholder="E-mail" id="email-log">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <label for="password">Şifrə</label>
                                <input type="password" asp-for="Password" class="form-control" required="" placeholder="Şifrə" id="password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <label for="password">Şifrə təkrar</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Şifrə təkrar" required="" id="password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn-effect">Daxil ol</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>