
@{
    ViewData["Title"] = "Brands";
}

<section class="brands">
    <div class="container">
        <div class="row">
            <div class="invoice-head col-xs-12">
                <div class="col-md-4 col-sm-5 col-xs-6">
                    <h4>Mağazalar </h4>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-6">
                    <ol class="breadcrumb web">
                        <li><a asp-controller="Home" asp-action="Index">Ana səhifə </a></li>
                        <li class="active"> Mağazalar</li>
                    </ol>
                    <ol class="breadcrumb mobile">
                        <li><a href="">... </a></li>
                        <li class="active">Mağazalar</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="news-body about">
        <div class="container">
            <div class="row relative">
                <div class="col-md-3 col-sm-12 col-xs-12 web-xs">
                    <div class="brands-left">
                        <div class="left-top">
                            <div class="left-head relative">
                                <h4>Ölkələr üzrə mağazalar</h4>
                            </div>
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="">Türkiyə</a>
                                </li>
                                <li class="">
                                    <a href="">Amerika</a>
                                </li>
                            </ul>
                        </div>
                        <div class="left-bottom">
                            <div class="left-head relative">
                                <h4>Mağaza kateqoriyası</h4>
                            </div>
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a href="">Ümumi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-sm-4 col-xs-12 mobile-xs">
                    <div class="brands-left">
                        <div class="left-top-mob block">
                            <div class="left-head relative">
                                <h4>Ölkələr üzrə mağazalar</h4>
                            </div>
                            <div class="input-group border-radius">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown">
                                        Türkiyə <span><i class="fa fa-angle-down"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="">Türkiyə</a>
                                        </li>
                                        <li class="">
                                            <a href="">Amerika</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="brands-right">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Nümunə Saytlar </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/253.png" alt="U.S.Polo ASSN - dən çatdırılma">
                                        <span>U.S.Polo ASSN </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/7.png" alt="www.dsdamat.com - dən çatdırılma">
                                        <span>www.dsdamat.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/18.png"
                                             alt="www.n11.com - dən çatdırılma">
                                        <span>www.n11.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/18.png" alt="www.defacto.com.tr - dən çatdırılma">
                                        <span>www.defacto.com.tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/29.png" alt="www.teknosa.com - dən çatdırılma">
                                        <span>www.teknosa.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/36.png" alt="www.mediamarkt.com.tr - dən çatdırılma">
                                        <span>www.mediamarkt.com.tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/38.png" alt="www.vatanbilgisayar.com - dən çatdırılma">
                                        <span>www.vatanbilgisayar.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/40.png" alt="www.zara.com/tr - dən çatdırılma">
                                        <span>www.zara.com/tr </span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/253.png" alt="U.S.Polo ASSN - dən çatdırılma">
                                        <span>U.S.Polo ASSN </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/7.png" alt="www.dsdamat.com - dən çatdırılma">
                                        <span>www.dsdamat.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/18.png"
                                             alt="www.n11.com - dən çatdırılma">
                                        <span>www.n11.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/18.png" alt="www.defacto.com.tr - dən çatdırılma">
                                        <span>www.defacto.com.tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/29.png" alt="www.teknosa.com - dən çatdırılma">
                                        <span>www.teknosa.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/36.png" alt="www.mediamarkt.com.tr - dən çatdırılma">
                                        <span>www.mediamarkt.com.tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/38.png" alt="www.vatanbilgisayar.com - dən çatdırılma">
                                        <span>www.vatanbilgisayar.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/40.png" alt="www.zara.com/tr - dən çatdırılma">
                                        <span>www.zara.com/tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/253.png" alt="U.S.Polo ASSN - dən çatdırılma">
                                        <span>U.S.Polo ASSN </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/7.png" alt="www.dsdamat.com - dən çatdırılma">
                                        <span>www.dsdamat.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/18.png"
                                             alt="www.n11.com - dən çatdırılma">
                                        <span>www.n11.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/18.png" alt="www.defacto.com.tr - dən çatdırılma">
                                        <span>www.defacto.com.tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/29.png" alt="www.teknosa.com - dən çatdırılma">
                                        <span>www.teknosa.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/36.png" alt="www.mediamarkt.com.tr - dən çatdırılma">
                                        <span>www.mediamarkt.com.tr </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/38.png" alt="www.vatanbilgisayar.com - dən çatdırılma">
                                        <span>www.vatanbilgisayar.com </span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href=" #" target="_blank">
                                    <div class="right-logo relative">
                                        <img src="~/assets/images/40.png" alt="www.zara.com/tr - dən çatdırılma">
                                        <span>www.zara.com/tr </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

