
@{
    ViewData["Title"] = "Countries";
}

    <section class="countries brands tarifs">
        <div class="container">
            <div class="row">
                <div class="invoice-head col-xs-12">
                    <div class="col-md-4 col-sm-5 col-xs-6">
                        <h4>Ölkələr </h4>
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-6">
                        <ol class="breadcrumb web">
                            <li><a asp-action="Index" asp-controller="Home">Ana səhifə </a></li>
                            <li class="active"> Ölkələr</li>
                        </ol>
                        <ol class="breadcrumb mobile">
                            <li><a href="">... </a></li>
                            <li class="active">Ölkələr</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>        <div class="countries-body">
            <div class="container">
                <div class="row relative">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab1"  data-toggle="tab" class="order-img1">
                                    Türkiyə
                                </a>
                            </li>
                            <li>
                                <a href="#tab2"  data-toggle="tab" class="order-img2">
                                    Amerika
                                </a>
                            </li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane fade in active" id="tab1">
                                <div class="countries-content block">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="top">
                                                <img src="~/assets//images/turkey.png" alt="flag-tr">
                                                <p class="head">Türkiyədən çatdırılma</p>
                                            </div>
                                            <ul class="nav nav-tabs country-inner-tabs cargo-prices-tab">
                                                <li class="active ">
                                                    <a href="#turkey" data-toggle="tab">
                                                        Türkiyə-Bakı
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#turkey-ganja" data-toggle="tab">
                                                        Türkiyə-Gəncə
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#turkey-sumgait" data-toggle="tab">
                                                        Türkiyə-Sumqayıt
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#turkey-zagatala" data-toggle="tab">
                                                        Türkiyə-Zaqatala
                                                    </a>
                                                </li>





                                                <li>
                                                    <span>Ardı var...</span>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="turkey">
                                                    <ul>
                                                        <li>0 dan - 0,25 kq dək<span>2.00 $</span></li>
                                                        <li>0,25 kq dan - 0.5 kq dək<span>3.00 $</span></li>
                                                        <li>0,5 kq dan - 0.7 kq dək<span>4.00 $</span></li>
                                                        <li>0,7 kq dan - 1 kq dək<span>4.50 $</span></li>
                                                    </ul>
                                                </div>
                                                <div class="tab-pane fade" id="turkey-ganja">
                                                    <ul>
                                                        <li>0 dan - 0,25 kq dək<span>2.00 $</span></li>
                                                        <li>0,25 kq dan - 0.5 kq dək<span>3.00 $</span></li>
                                                        <li>0,5 kq dan - 0.7 kq dək<span>4.00 $</span></li>
                                                        <li>0,7 kq dan - 1 kq dək<span>4.50 $</span></li>
                                                    </ul>
                                                </div>
                                                <div class="tab-pane fade" id="turkey-sumgait">
                                                    <ul>
                                                        <li>0 dan - 0,25 kq dək<span>2.00 $</span></li>
                                                        <li>0,25 kq dan - 0.5 kq dək<span>3.00 $</span></li>
                                                        <li>0,5 kq dan - 0.7 kq dək<span>4.00 $</span></li>
                                                        <li>0,7 kq dan - 1 kq dək<span>4.50 $</span></li>
                                                    </ul>
                                                </div>
                                                <div class="tab-pane fade" id="turkey-zagatala">
                                                    <ul>
                                                        <li>0 dan - 0,25 kq dək<span>2.00 $</span></li>
                                                        <li>0,25 kq dan - 0.5 kq dək<span>3.00 $</span></li>
                                                        <li>0,5 kq dan - 0.7 kq dək<span>4.00 $</span></li>
                                                        <li>0,7 kq dan - 1 kq dək<span>4.50 $</span></li>
                                                    </ul>
                                                </div>





                                            </div>
                                            <div class="bottom-text">
                                                <b>Maye məhsullar üçün</b>
                                                <div>
                                                    <ul>
                                                        <li>0 dan - 0,25 kq dək<span>2.50 $</span></li>
                                                        <li>0,25 kq dan - 0.5 kq dək<span>4.00 $</span></li>
                                                        <li>0,5 kq dan - 0.7 kq dək<span>6.00 $</span></li>
                                                        <li>0,7 kq dan - 1 kq dək<span>7.50 $</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="bottom-text">
                                                <p>
                                                    Korporativ təkliflər üçün corporate@limak.az email ünvanına yaza bilərsiniz.
                                                    <br><br>
                                                    Şirkətimiz Türkiyə və Amerikadan yüklərin daşınması ilə məşğul olur. Sizin sifarişləriniz həftədə 2 dəfə Türkiyədən, 1 dəfə isə Amerikadan Bakıya çatdırılır.
                                                    <br><br>
                                                    Limak Sizə bağlamalarınızın çəkisindən asılı olaraq, Türkiyədən 2 dollardan, ABŞ-dan isə 1.99 dollardan başlayan qiymətlərlə sərfəli çatdırılma təklif edir.

                                                    Sifariş olunan bağlamanın çatdırılma haqqı çəkiyə görə hesablanır. Ölçüsü 1 metrdən böyük olan bağlamaların kargo pulu isə həcmi çəkiyə görə müəyyən edilir.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <img src="~/assets//images/countries.png" alt="success" class="img-responsive center-block">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab2">
                                <div class="countries-content block">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="top">
                                                <img src="~/assets//images/united-states-of-america.png" alt="flag-usa">
                                                <p class="head">Amerikadan çatdırılma</p>
                                            </div>
                                            <ul class="nav nav-tabs country-inner-tabs cargo-prices-tab">
                                                <li class="active">
                                                    <a href="#usa" data-toggle="tab">
                                                        Amerika-Bakı
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#usa-ganja" data-toggle="tab">
                                                        Amerika-Gəncə
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#usa-sumgait" data-toggle="tab">
                                                        Amerika-Sumqayıt
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#usa-zagatala" data-toggle="tab">
                                                        Amerika-Zaqatala
                                                    </a>
                                                </li>





                                                <li>
                                                    <span>Ardı var...</span>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="usa">
                                                    <ul>
                                                        <li>0 dan - 0,25 kq dək<span>1.99 $</span></li>
                                                        <li>0,25 kq dan - 0.5 kq dək<span>3.99 $</span></li>
                                                        <li>0,5 kq dan - 0.7 kq dək<span>4.99 $</span></li>
                                                        <li>0,7 kq dan - 1 kq dək<span>5.99 $</span></li>
                                                    </ul>
                                                </div>
                                                <div class="tab-pane fade" id="usa-ganja">
                                                    <ul>
                                                        <li>0 dan - 0,25 kq dək<span>1.99 $</span></li>
                                                        <li>0,25 kq dan - 0.5 kq dək<span>3.99 $</span></li>
                                                        <li>0,5 kq dan - 0.7 kq dək<span>4.99 $</span></li>
                                                        <li>0,7 kq dan - 1 kq dək<span>5.99 $</span></li>
                                                    </ul>
                                                </div>
                                                <div class="tab-pane fade" id="usa-sumgait">
                                                    <ul>
                                                        <li>0 dan - 0,25 kq dək<span>1.99 $</span></li>
                                                        <li>0,25 kq dan - 0.5 kq dək<span>3.99 $</span></li>
                                                        <li>0,5 kq dan - 0.7 kq dək<span>4.99 $</span></li>
                                                        <li>0,7 kq dan - 1 kq dək<span>5.99 $</span></li>
                                                    </ul>
                                                </div>
                                                <div class="tab-pane fade" id="usa-zagatala">
                                                    <ul>
                                                        <li>0 dan - 0,25 kq dək<span>1.99 $</span></li>
                                                        <li>0,25 kq dan - 0.5 kq dək<span>3.99 $</span></li>
                                                        <li>0,5 kq dan - 0.7 kq dək<span>4.99 $</span></li>
                                                        <li>0,7 kq dan - 1 kq dək<span>5.99 $</span></li>
                                                    </ul>
                                                </div>
                                                <div class="tab-pane fade" id="usa-lankaran">
                                                    <ul>
                                                        <li>0 dan - 0,25 kq dək<span>1.99 $</span></li>
                                                        <li>0,25 kq dan - 0.5 kq dək<span>3.99 $</span></li>
                                                        <li>0,5 kq dan - 0.7 kq dək<span>4.99 $</span></li>
                                                        <li>0,7 kq dan - 1 kq dək<span>5.99 $</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="bottom-text">
                                                <p>
                                                    Korporativ təkliflər üçün corporate@limak.az email ünvanına yaza bilərsiniz.
                                                    <br><br>
                                                    Şirkətimiz Türkiyə və Amerikadan yüklərin daşınması ilə məşğul olur. Sizin sifarişləriniz həftədə 2 dəfə Türkiyədən, 1 dəfə isə Amerikadan Bakıya çatdırılır.
                                                    <br><br>
                                                    Limak Sizə bağlamalarınızın çəkisindən asılı olaraq, Türkiyədən 2 dollardan, ABŞ-dan isə 1.99 dollardan başlayan qiymətlərlə sərfəli çatdırılma təklif edir.

                                                    Sifariş olunan bağlamanın çatdırılma haqqı çəkiyə görə hesablanır. Ölçüsü 1 metrdən böyük olan bağlamaların kargo pulu isə həcmi çəkiyə görə müəyyən edilir.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <img src="~/assets//images/countries.png" alt="success" class="img-responsive center-block">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
