@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link rel="stylesheet" href="~/css/owl-css.css" />
}

<section class="slide">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 home-slider">
                <div id="banner-slider"
                     class="owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item">
                                <div class="item">
                                    <div class="slider-image">
                                        <a href="">
                                            <img src="assets/images/slider_1600182163.png"
                                                 class="img-responsive" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="item">
                                    <div class="slider-image">
                                        <a href="">
                                            <img src="assets/images/slider_1600455522.png"
                                                 class="img-responsive" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-item">
                                <div class="item">
                                    <div class="slider-image">
                                        <a href="">
                                            <img src="assets/images/slider_1601033241.png"
                                                 class="img-responsive" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="owl-dots">
                        <button class="owl-dot">
                            <span></span>
                        </button><button class="owl-dot">
                            <span></span>
                        </button><button class="owl-dot"><span></span></button>
                    </div>
                    <div class="owl-nav disabled">
                        <button type="button" role="presentation" class="owl-prev">
                            <span aria-label="Previous">‹</span>
                        </button><button type="button" role="presentation" class="owl-next">
                            <span aria-label="Next">›</span>
                        </button>
                    </div>
                    <div class="owl-dots">
                        <button role="button" class="owl-dot">
                            <span></span>
                        </button><button role="button" class="owl-dot">
                            <span></span>
                        </button><button role="button" class="owl-dot"><span></span></button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 right-side">
                <div class="block">
                    <h4>
                        Kalkulyator<span id="reset-calc">Kalkulyatoru sıfırla</span>
                    </h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="input-group">
                                <div class="dropdown bootstrap-select form-control">

                                    <button type="button"
                                            class="btn dropdown-toggle btn-default"
                                            data-toggle="dropdown">
                                        <div class="filter-option">
                                            <div class="filter-option-inner">
                                                <div class="filter-option-inner-inner">Türkiyə</div>
                                            </div>
                                        </div>
                                        <span class="bs-caret"><span class="caret"></span></span>
                                    </button>
                                    <div class="dropdown-menu open">
                                        <div class="inner open">
                                            <ul class="dropdown-menu inner country">
                                                <li class="selected active">
                                                    <a class="selected active">
                                                        <span class="text">Türkiyə</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a> <span class="text">Amerika</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <label>
                                    <input type="number"
                                           min="0"
                                           class="form-control inputText"
                                           id="weight"
                                           placeholder=" " />
                                    <span>Çəki</span>
                                </label>
                                <div class="input-group-btn">
                                    <div class="dropdown bootstrap-select form-control">
                                        <button type="button"
                                                class="btn dropdown-toggle btn-default"
                                                data-toggle="dropdown"
                                                title="qram">
                                            <div class="filter-option">
                                                <div class="filter-option-inner">
                                                    <div id="filter-weight" class="filter-option-inner-inner">qram</div>
                                                </div>
                                            </div>
                                            <span class="bs-caret"><span class="caret"></span></span>
                                        </button>
                                        <div class="dropdown-menu open">
                                            <div class="inner open">
                                                <ul class="dropdown-menu inner">
                                                    <li class="">
                                                        <a class=""> <span class="text">kq</span></a>
                                                    </li>
                                                    <li class="selected active">
                                                        <a class="selected active">
                                                            <span class="text">qram</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <label>
                                    <input type="number"
                                           min="0"
                                           name="width"
                                           id="width"
                                           class="form-control inputText"
                                           placeholder=" " />
                                    <span>En</span>
                                </label>
                                <div class="input-group-btn">
                                    <div class="dropdown bootstrap-select form-control">

                                        <button type="button"
                                                class="btn dropdown-toggle btn-default"
                                                data-toggle="dropdown"
                                                title="m">
                                            <div class="filter-option">
                                                <div class="filter-option-inner">
                                                    <div id="filter-width" class="filter-option-inner-inner">m</div>
                                                </div>
                                            </div>
                                            <span class="bs-caret"><span class="caret"></span></span>
                                        </button>
                                        <div class="dropdown-menu open">
                                            <div class="inner open">
                                                <ul class="dropdown-menu inner">
                                                    <li class="selected active">
                                                        <a class="selected active">
                                                            <span class="text">sm</span>
                                                        </a>
                                                    </li>
                                                    <li class="selected">
                                                        <a class="selected"><span class="text">m</span></a>
                                                    </li>
                                                    <li>
                                                        <a ><span class="text">dm</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <label>
                                    <input type="number"
                                           min="0"
                                           class="form-control inputText"
                                           name="height"
                                           id="height"
                                           placeholder=" " />
                                    <span>Hündürlük</span>
                                </label>
                                <div class="input-group-btn">
                                    <div class="dropdown bootstrap-select form-control">
                                        <button type="button"
                                                class="btn dropdown-toggle btn-default"
                                                data-toggle="dropdown"
                                                title="sm">
                                            <div class="filter-option">
                                                <div class="filter-option-inner">
                                                    <div id="filter-height" class="filter-option-inner-inner">sm</div>
                                                </div>
                                            </div>
                                            <span class="bs-caret"><span class="caret"></span></span>
                                        </button>
                                        <div class="dropdown-menu open">
                                            <div class="inner open">
                                                <ul class="dropdown-menu inner">
                                                    <li class="selected active">
                                                        <a class="selected active">
                                                            <span class="text">sm</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a ><span class="text">m</span></a>
                                                    </li>
                                                    <li>
                                                        <a><span class="text">dm</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="input-group">
                                <div class="dropdown bootstrap-select form-control">

                                    <button type="button"
                                            class="btn dropdown-toggle btn-default"
                                            data-toggle="dropdown">
                                        <div class="filter-option">
                                            <div class="filter-option-inner">
                                                <div class="filter-option-inner-inner">Bakı</div>
                                            </div>
                                        </div>
                                        <span class="bs-caret"><span class="caret"></span></span>
                                    </button>
                                    <div class="dropdown-menu open">
                                        <div class="inner open">
                                            <ul class="dropdown-menu inner">
                                                <li class="selected active">
                                                    <a class="selected active"><span class="text">Bakı</span></a>
                                                </li>
                                                <li>
                                                    <a><span class="text">Gəncə</span></a>
                                                </li>
                                                <li>
                                                    <a><span class="text">Sumqayıt</span></a>
                                                </li>
                                                <li>
                                                    <a><span class="text">Zaqatala</span></a>
                                                </li>
                                              
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group border-radius">
                                <label>
                                    <input type="number"
                                           min="0"
                                           id="count"
                                           class="form-control inputText"
                                           placeholder=" " />
                                    <span>Bağlama sayı</span>
                                </label>
                            </div>
                            <div class="input-group">
                                <label>
                                    <input type="number"
                                           min="0"
                                           class="form-control inputText"
                                           id="length"
                                           placeholder=" " />
                                    <span>Uzunluq</span>
                                </label>
                                <div class="input-group-btn">
                                    <div class="dropdown bootstrap-select form-control">

                                        <button type="button"
                                                class="btn dropdown-toggle btn-default"
                                                data-toggle="dropdown">
                                            <div class="filter-option">
                                                <div class="filter-option-inner">
                                                    <div id="filter-length" class="filter-option-inner-inner">sm</div>
                                                </div>
                                            </div>
                                            <span class="bs-caret"><span class="caret"></span></span>
                                        </button>
                                        <div class="dropdown-menu open">
                                            <div class="inner open">
                                                <ul class="dropdown-menu inner">
                                                    <li class="selected active">
                                                        <a class="selected active">
                                                            <span class="text">sm</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a> <span class="text">m</span></a>
                                                    </li>
                                                    <li>
                                                        <a> <span class="text">dm</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="calculate-btn" class="btn-effect border-btn">
                                Hesabla
                            </button>
                        </div>
                        <div class="col-xs-12">
                            <p class="count">Cəmi: <b class="count-result">$0,00</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="info-section">
    <div class="container">
        <div class="">
            <h1>Necə işləyir ?</h1>
            <div class="block col-xs-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="block-inner">
                            <img src="assets/images/mehsulunu_sec.png"
                                 class="img-responsive"
                                 alt="box" />
                            <p class="head">Qeydiyyatdan keç</p>
                            <p class="text">
                                Limak.az saytında qeydiyyatdan keçməklə, xaricdə daimi
                                ünvana sahib olun.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="block-inner">
                            <img src="assets/images/box.png"
                                 class="img-responsive" />
                            <p class="head">Sifarişi bizə yolla</p>
                            <p class="text">
                                Onlayn mağazalardan alış-veriş edərkən bağlamanızın
                                çatdırılacağı ünvan yerinə sizə təmin etdiyimiz ünvanı daxil
                                edin.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="block-inner">
                            <img src="assets/images/courier.png"
                                 class="img-responsive" />
                            <p class="head">Bağlamanı əldə et</p>
                            <p class="text">
                                3-5 iş günü ərzində sifarişinizi Bakı anbarımızdan əldə edə
                                və ya kuryer xidmətimizdən istifadə edə bilərsiniz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tarifs">
    <div class="section-header">
        <h2>ÖLKƏLƏR ÜZRƏ TARİFLƏR</h2>
    </div>
    <div class="container">
        <div class="order-body row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab-turkey"
                           data-toggle="tab"
                           class="order-img1">
                            Türkiyə
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#tab-america"
                           data-toggle="tab"
                           class="order-img2">
                            Amerika
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active"
                         id="tab-turkey">
                        <div class="block col-sm-12 col-xs-12">
                            <div class="col-sm-12 col-xs-12">
                                <div class="top">
                                    <img src="assets/images/turkey.png" />
                                    <p class="head">Türkiyədən çatdırılma</p>
                                </div>
                                <ul class="nav nav-tabs country-inner-tabs">
                                    <li class="active">
                                        <a href="#turkey" data-toggle="tab"> Türkiyə-Bakı </a>
                                    </li>
                                    <li>
                                        <a href="#turkey-ganja" data-toggle="tab">Türkiyə-Gəncə</a>
                                    </li>
                                    <li>
                                        <a href="#turkey-sumgait" data-toggle="tab">Türkiyə-Sumqayıt</a>
                                    </li>
                                    <li>
                                        <a href="#turkey-zagatala" data-toggle="tab">Türkiyə-Zaqatala</a>
                                    </li>
                                    <li>
                                        <a href="#turkey-lankaran" data-toggle="tab">Türkiyə-Lənkəran</a>
                                    </li>
                                    <li>
                                        <span>Ardı var...</span>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active"
                                         id="turkey">
                                        <ul>
                                            <li>0 dan - 0,25 kq dək<span>2.00 $</span></li>
                                            <li>0,25 kq dan - 0.5 kq dək<span>3.00 $</span></li>
                                            <li>0,5 kq dan - 0.7 kq dək<span>4.00 $</span></li>
                                            <li>0,7 kq dan - 1 kq dək<span>4.50 $</span></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="turkey-ganja">
                                        <ul>
                                            <li>0 dan - 0,25 kq dək<span>2.00 $</span></li>
                                            <li>0,25 kq dan - 0.5 kq dək<span>3.00 $</span></li>
                                            <li>0,5 kq dan - 0.7 kq dək<span>4.00 $</span></li>
                                            <li>0,7 kq dan - 1 kq dək<span>4.50 $</span></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="turkey-sumgait">
                                        <ul>
                                            <li>0 dan - 0,25 kq dək<span>2.00 $</span></li>
                                            <li>0,25 kq dan - 0.5 kq dək<span>3.00 $</span></li>
                                            <li>0,5 kq dan - 0.7 kq dək<span>4.00 $</span></li>
                                            <li>0,7 kq dan - 1 kq dək<span>4.50 $</span></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="turkey-zagatala">
                                        <ul>
                                            <li>0 dan - 0,25 kq dək<span>2.00 $</span></li>
                                            <li>0,25 kq dan - 0.5 kq dək<span>3.00 $</span></li>
                                            <li>0,5 kq dan - 0.7 kq dək<span>4.00 $</span></li>
                                            <li>0,7 kq dan - 1 kq dək<span>4.50 $</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="bottom-text">
                                    <b>Maye məhsullar üçün</b>
                                    <div>
                                        <ul>
                                            <li>0 dan - 0,25 kq dək<span>2.50 $</span></li>
                                            <li>0,25 kq dan - 0.5 kq dək<span>4.00 $</span></li>
                                            <li>0,5 kq dan - 0.7 kq dək<span>6.00 $</span></li>
                                            <li>0,7 kq dan - 1 kq dək<span>7.50 $</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="bottom-text">
                                    <p>
                                        Korporativ təkliflər üçün corporate@limak.az email
                                        ünvanına yaza bilərsiniz. <br /><br />
                                        Şirkətimiz Türkiyə və Amerikadan yüklərin daşınması ilə
                                        məşğul olur. Sizin sifarişləriniz həftədə 2 dəfə
                                        Türkiyədən, 1 dəfə isə Amerikadan Bakıya çatdırılır.
                                        <br /><br />
                                        Limak Sizə bağlamalarınızın çəkisindən asılı olaraq,
                                        Türkiyədən 2 dollardan, ABŞ-dan isə 1.99 dollardan
                                        başlayan qiymətlərlə sərfəli çatdırılma təklif edir.
                                        Sifariş olunan bağlamanın çatdırılma haqqı çəkiyə görə
                                        hesablanır. Ölçüsü 1 metrdən böyük olan bağlamaların
                                        kargo pulu isə həcmi çəkiyə görə müəyyən edilir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="tab-america">
                        <div class="block col-sm-12 col-xs-12">
                            <div class="col-sm-12 col-xs-12">
                                <div class="top">
                                    <img src="assets/images/united-states-of-america.png" />
                                    <p class="head">Amerikadan çatdırılma</p>
                                </div>
                                <ul class="nav nav-tabs country-inner-tabs">
                                    <li role="presentation" class="active">
                                        <a href="#usa" data-toggle="tab">Amerika-Bakı</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#usa-ganja" data-toggle="tab">Amerika-Gəncə</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#usa-sumgait" data-toggle="tab">Amerika-Sumqayıt</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#usa-zagatala" data-toggle="tab">Amerika-Zaqatala</a>
                                    </li>
                                    <li role="presentation">
                                        <span>Ardı var...</span>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active"
                                         id="usa">
                                        <ul>
                                            <li>0 dan - 0,25 kq dək<span>1.99 $</span></li>
                                            <li>0,25 kq dan - 0.5 kq dək<span>3.99 $</span></li>
                                            <li>0,5 kq dan - 0.7 kq dək<span>4.99 $</span></li>
                                            <li>0,7 kq dan - 1 kq dək<span>5.99 $</span></li>
                                        </ul>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="usa-ganja">
                                        <ul>
                                            <li>0 dan - 0,25 kq dək<span>1.99 $</span></li>
                                            <li>0,25 kq dan - 0.5 kq dək<span>3.99 $</span></li>
                                            <li>0,5 kq dan - 0.7 kq dək<span>4.99 $</span></li>
                                            <li>0,7 kq dan - 1 kq dək<span>5.99 $</span></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="usa-sumgait">
                                        <ul>
                                            <li>0 dan - 0,25 kq dək<span>1.99 $</span></li>
                                            <li>0,25 kq dan - 0.5 kq dək<span>3.99 $</span></li>
                                            <li>0,5 kq dan - 0.7 kq dək<span>4.99 $</span></li>
                                            <li>0,7 kq dan - 1 kq dək<span>5.99 $</span></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="usa-zagatala">
                                        <ul>
                                            <li>0 dan - 0,25 kq dək<span>1.99 $</span></li>
                                            <li>0,25 kq dan - 0.5 kq dək<span>3.99 $</span></li>
                                            <li>0,5 kq dan - 0.7 kq dək<span>4.99 $</span></li>
                                            <li>0,7 kq dan - 1 kq dək<span>5.99 $</span></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="usa-lankaran">
                                        <ul>
                                            <li>0 dan - 0,25 kq dək<span>1.99 $</span></li>
                                            <li>0,25 kq dan - 0.5 kq dək<span>3.99 $</span></li>
                                            <li>0,5 kq dan - 0.7 kq dək<span>4.99 $</span></li>
                                            <li>0,7 kq dan - 1 kq dək<span>5.99 $</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="bottom-text">
                                    <p>
                                        Korporativ təkliflər üçün corporate@limak.az email
                                        ünvanına yaza bilərsiniz. <br /><br />
                                        Şirkətimiz Türkiyə və Amerikadan yüklərin daşınması ilə
                                        məşğul olur. Sizin sifarişləriniz həftədə 2 dəfə
                                        Türkiyədən, 1 dəfə isə Amerikadan Bakıya çatdırılır.
                                        <br /><br />
                                        Limak Sizə bağlamalarınızın çəkisindən asılı olaraq,
                                        Türkiyədən 2 dollardan, ABŞ-dan isə 1.99 dollardan
                                        başlayan qiymətlərlə sərfəli çatdırılma təklif edir.
                                        Sifariş olunan bağlamanın çatdırılma haqqı çəkiyə görə
                                        hesablanır. Ölçüsü 1 metrdən böyük olan bağlamaların
                                        kargo pulu isə həcmi çəkiyə görə müəyyən edilir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="info-section">
    <div class="container">
        <div class="">
            <h1>SERTİFİKATLARIMIZ VƏ TƏRƏFDAŞLARIMIZ</h1>
            <div class="block col-xs-12">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="block-inner">
                            <img src="assets/images/IATA.png"
                                 class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="block-inner">
                            <img src="assets/images/fiata.png"
                                 class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="block-inner">
                            <img src="assets/images/THY.png"
                                 class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="block-inner">
                            <img src="assets/images/Silkway.png"
                                 class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news-and-ads">
    <div class="container">
        <div class="section-header">
            <h2>YENİLİKLƏR VƏ ELANLAR</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="overlay">
                    <a href="">
                        <img src="assets/images/slider_1600182163.png"
                             class="img-responsive" />
                        <div class="caption">
                            <h4>Gömrüklə bağlı yeni QƏRAR</h4>
                            <p><i class="fa fa-calendar"></i>25.09.2020</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="overlay">
                    <a href="">
                        <img src="assets/images/slider_1600455522.png"
                             class="img-responsive" />
                        <div class="caption">
                            <h4>
                                Limak.az "Xalqlar dostluğu" ofisi ilə xidmətinizdədir!
                            </h4>
                            <p><i class="fa fa-calendar"></i>18.09.2020</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="overlay">
                    <a href="">
                        <img src="assets/images/slider_1601033241.png"
                             class="img-responsive" />
                        <div class="caption">
                            <h4>Müştərilərimizin nəzərinə!</h4>
                            <p><i class="fa fa-calendar"></i>15.09.2020</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="logo-slider">
    <div class="container">
        <div id="logo-slider"
             class="owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                        <div>
                            <img src="assets/images/gitdigidiyor.png" />
                        </div>
                    </div>
                    <div class="owl-item cloned">
                        <div>
                            <img src="assets/images/koton.png" />
                        </div>
                    </div>
                    <div class="owl-item">
                        <div>
                            <img src="assets/images/markafoni.png" />
                        </div>
                    </div>
                    <div class="owl-item">
                        <div>
                            <img src="assets/images/n11com.png" />
                        </div>
                    </div>
                    <div class="owl-item">
                        <div>
                            <img src="assets/images/trendyol.png" />
                        </div>
                    </div>
                    <div class="owl-item">
                        <div>
                            <img src="assets/images/defacto.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav disabled">
                <button type="button" class="owl-prev">
                    <span>‹</span>
                </button>
                <button type="button" class="owl-next">
                    <span>›</span>
                </button>
            </div>
            <div class="owl-dots">
                <button role="button" class="owl-dot">
                    <span></span>
                </button><button role="button" class="owl-dot active"><span></span></button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/calc.js"></script>

}
