
@{
    ViewData["Title"] = "Privacy";
}
    <section class="about brands">
        <div class="container">
            <div class="row">
                <div class="invoice-head col-xs-12">
                    <div class="col-md-4 col-sm-5 col-xs-6">
                        <h4>Gizlilik şərtləri </h4>
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-6">
                        <ol class="breadcrumb web">
                            <li><a asp-action="Index" asp-controller="Home">Ana səhifə </a></li>
                            <li class="active"> Gizlilik şərtləri</li>
                        </ol>
                        <ol class="breadcrumb mobile">
                            <li><a href="">... </a></li>
                            <li class="active">Gizlilik şərtləri</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>        <div class="news-body">
            <div class="container">
                <div class="row relative">
                    <div class="col-md-3 col-sm-4 col-xs-12 web-xs">
                        <div class="brands-left">
                            <div class="left-top">
                                <div class="left-head relative">
                                    <h4>Köməkçi bölmələr</h4>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        <a asp-action="Rules" asp-controller="Home">Qaydalar</a>
                                    </li>
                                    <li>
                                        <a href="">Suallar</a>
                                    </li>
                                    <li class="active">
                                        <a asp-action="Privacy" asp-controller="Home">Gizlilik şərtləri</a>
                                    </li>
                                    <li class="">
                                        <a href="">Haqqımızda</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 mobile-xs">
                        <div class="brands-left">
                            <div class="left-top-mob block">
                                <div class="left-head relative">
                                    <h4>Köməkçi bölmələr</h4>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" >
                                        Gizlilik şərtləri
                                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a asp-action="Rules" asp-controller="Home">Qaydalar</a>
                                        </li>
                                        <li>
                                            <a href="">Suallar</a>
                                        </li>
                                        <li class="active">
                                            <a asp-action="Privacy" asp-controller="Home">Gizlilik şərtləri</a>
                                        </li>
                                        <li class="">
                                            <a href="">Haqqımızda</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="brands-right">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="about-img relative">
                                        <img src="~/assets/images/about_back.png" alt="about_back" class="img-responsive">
                                        <img src="~/assets/images/about_logo.png" alt="about_logo" class="about-logo">
                                    </div>
                                    <h4>"Limak VM" MMC məsuliyyət daşıyır!</h4>
                                    <p>"Limak VM" MMC istifadəçilərin şirkətə təqdim etdikləri şəxsi məlumatların qorunmasına zəmanət verir.</p>

                                    <p>&nbsp;</p>

                                    <p>Şirkət şəxsi məlumatların qorunması üçün təhlükəsizliyin təmin edilməsinə, bununla bağlı bütün texniki tədbirlərin görülməsinə görə öhdəlik daşıyır.</p>

                                    <p>&nbsp;</p>

                                    <p>Şirkət istifadəçinin şəxsi məlumatlarını onun icazəsi olmadan üçüncü tərəfə təqdim etməyəcəyinə dair öhdəlik götürür.</p>

                                    <p>&nbsp;</p>

                                    <p>Bu məlumatlardan "Limak VM" MMC-nin eyni istifadəçiyə yönəldiyi təbliğat-təşviqat, reklam xarakterli məlumatlarda istifadə oluna bilər.</p>

                                    <p>&nbsp;</p>

                                    <p>Eyni zamanda şəxsi məlumatlar istifadəçi ilə yaranmış hüquqi problemin həllində məhkəmə qərarı ilə açıqlana bilər.</p>

                                    <p>&nbsp;</p>

                                    <p><strong>"Limak VM" MMC istifadəçinin məxfi kart məlumatlarına malik deyil, onlari özündə saxlamır</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
