
@{
    ViewData["Title"] = "Rules";
}
<section class="rules brands">
    <div class="container">
        <div class="row">
            <div class="invoice-head col-xs-12">
                <div class="col-md-4 col-sm-5 col-xs-6">
                    <h4>Qaydalar </h4>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-6">
                    <ol class="breadcrumb web">
                        <li><a href="https://limak.az/az">Ana səhifə </a></li>
                        <li class="active"> Qaydalar</li>
                    </ol>
                    <ol class="breadcrumb mobile">
                        <li><a href="">... </a></li>
                        <li class="active">Qaydalar</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>        <div class="news-body">
        <div class="container">
            <div class="row relative">
                <div class="col-md-3 col-sm-4 col-xs-12 web-xs">
                    <div class="brands-left">
                        <div class="left-top">
                            <div class="left-head relative">
                                <h4>Köməkçi bölmələr</h4>
                            </div>
                            <ul class="list-unstyled">
                                <li class="active">
                                    <a asp-action="Rules" asp-controller="Home">Qaydalar</a>
                                </li>
                                <li>
                                    <a href="">Suallar</a>
                                </li>
                                <li>
                                    <a asp-action="Privacy" asp-controller="Home">Gizlilik şərtləri</a>
                                </li>
                                <li>
                                    <a href="">Haqqımızda</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 mobile-xs">
                    <div class="brands-left">
                        <div class="left-top-mob block">
                            <div class="left-head relative">
                                <h4>Köməkçi bölmələr</h4>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    Qaydalar                                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li class="active">
                                        <a asp-action="Rules" asp-controller="Home">Qaydalar</a>
                                    </li>
                                    <li>
                                        <a href="">Suallar</a>
                                    </li>
                                    <li>
                                        <a asp-action="Privacy" asp-controller="Home">Gizlilik şərtləri</a>
                                    </li>
                                    <li>
                                        <a href="">Haqqımızda</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="brands-right">
                        <div class="row">
                            <div class="col-xs-12">
                                
                                <h2>Limak.Az istifadəçi qaydaları</h2>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default active">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    Istifadəçi qaydaları
                                                    <i class="fas fa-chevron-down accordion-icon"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        İstifadəçi sistemdə qeydiyyatdan keçməklə, şəxsi məlumatlarını tələb
                                                        olunan qaydada qeyd etməlidir.
                                                    </li>
                                                    <li>
                                                        İstifadəçi qeydiyyatdan keçmək üçün daxil etdiyi məlumatların
                                                        doğruluğuna görə məsuliyyət daşıyır.
                                                    </li>
                                                    <li>
                                                        Sonradan qeyd olunmuş məlumatlarda dəyişikliklər olarsa, bununla
                                                        bağlı sistemə məlumatların yenilənməsi üçün bildiriş göndərmək
                                                        istifadəçinin öhdəliyidir.
                                                    </li>
                                                    <li>
                                                        Qadağan olunmuş məhsullar sifariş verilərsə, xidmət həmin istifadəçi
                                                        üçün bloklana bilər.
                                                    </li>
                                                    <li>
                                                        Sistemin tələb etdiyi qaydada ödəmə etmək istifadəçinin öhdəliyidir.
                                                    </li>
                                                    <li>
                                                        Öz şifrə və məlumatlarını digər şəxslərlə paylaşmamalıdır. Belə hallar
                                                        baş verərsə borclanmaya və sifarişin statusunun dəyişməsinə görə,
                                                        şəxs özü cavabdehdir.
                                                    </li>
                                                    <li>
                                                        İstifadəçi ay ərzində dəyəri 300  ( üç yüz ) ABŞ dolları məbləğinədək
                                                        əşya sifariş etdikdə, istifadəçidən gömrük rüsumu tutulmur.
                                                    </li>
                                                    <li>
                                                        Sifarişin dəyəri bir ay ərzində 300  (üç yüz) ABŞ dolları məbləğindən
                                                        artıq olarsa, İstifadəçi sifarişin ümumi dəyərinin 36%-i (otuz altı faiz)
                                                        miqdarında gömrük orqanlarına gömrük rüsumu ödəmək öhdəliyini öz
                                                        üzərinə götürür.
                                                    </li>
                                                    <li>
                                                        Daşıyıcı bütün sifarişlərin daşımasını həyata keçirərkən yalnız 300 ABŞ dollarınadək sifariş olduqda gömrük sənədləşmələrini öz üzərinə
                                                        götürür. Dəyəri daha yüksək məbləğdə sifariş verilərsə, daşıyıcı malı
                                                        Gömrük terminalınadək gətirməyi, istifadəçi isə digər sənədləşmə və
                                                        malın terminaldan təhvil götürülməsini öz üzərinə götürür.
                                                    </li>
                                                    <li>Qeyri-etik davranışlar sərgiləyən, əməkdaşlara qarşı açıq hörmətsizlik edən, xidmətdən yararlanarkən Azərbaycan qanunvericiliyinə zidd şəkildə davranan sifarişçinin hesabı məhdudlaşdırılır və ona bir daha xidmət göstərilmir. Sifarişçi qəbul edilmiş qaydalara uyğun davranmadığı halda onunla əməkdaşlığın dayandırılacağını qəbul edir.</li>
                                                    <li>
                                                        Daşınan bağlamanın çatdırılma üçün xidmət haqqı iki meyar üzrə, çəki
                                                        və həcmə görə hesablanır. İstifadəçi bu meyarlar üzrə hesablanmış
                                                        daşıma haqqının daha çox olanı üzrə ödəniş aparmalıdır.
                                                    </li>
                                                    <li>İstifadəçi bağlamalarını "Limak" ofisini tərk etmədən yoxlamalı, hər hansı bir zədə və ya çatışmazlıq olduğu təqdirdə şirkəti məlumatlandırmalıdır. Əks təqdirdə zədələnmiş bağlamalara görə şirkət məsuliyyət daşımır!</li>
                                                    <li>Sına biləcək əşyalar daşınma öncəsi sığortalanmır. Bu kimi məhsullar göndərici (satıcı) tərəfindən xəsarət almayacaq şəkildə qablaşdırılmalıdır. Daşınma zamanı yaranmış hər hansı bir problemə görə şirkət məsuliyyət daşımır!</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default ">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#1collapseOne">
                                                    Daşıma və çatdırılma qaydaları
                                                    <i class="fas fa-chevron-down accordion-icon"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="1collapseOne" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <p><em>Anlayışlar</em></p>

                                                <p>Sifarişçi - Hər hansı bir məhsulu xarici və ya daxili istehsalçının satış məntəqəsindən alış məqsədi ilə dəyərini öncədən ödəməklə sifariş edən şəxs.</p>

                                                <p>Daşıyıcı - Sifarişçinin sifarişi əsasında malı&nbsp;istehsalçının satış məntəqəsindən alaraq, özünə məxsus anbara kimi çatdırmanı həyata keçirən karqo şirkəti.</p>

                                                <p>Anbar - Daşıyıcıya məxsus,</p>

                                                <ul>
                                                    <li>sifarişçi tərəfindən sifariş olunan malların alınaraq toplandığı saxlanma yeri,</li>
                                                    <li>malların sifarişçi tərəfindən qəbul edildiyi yer.</li>
                                                </ul>

                                                <p>- Daşıyıcı istehsalçı deyil və heç bir satış xidməti göstərmir. Sifarişçi ödənişini şəxsi hesabından daşıyıcının əməkdaşlıq etdiyi xarici şirkətin bank hesabına köçürür. Sifariş verilmə prosesi üçün 5% ödəmə (bank) komissiyası nəzərdə tutulmuşdur.</p>

                                                <p>- Sifarişçinin ünvanında ödəmək şərti ilə göndərilən sifarişlər qəbul olunmur.</p>

                                                <p>- Daşıyıcı,&nbsp; istehsalçının səhvinə, satıcı firmanın göndərdiyi məhsulun keyfiyyətinə, tamlığına, tərkibinə, ölçü və formasına, satış anbarında tükənməsinə görə və ya sifarişin satıcı tərəfindən ləğv olunmasına görə məsuliyyət daşımır.</p>

                                                <p>- Daşıyıcı satıcı firma tərəfindən malın onun anbarına çatdırılması vaxtına görə heç bir məsuliyyət daşımır.</p>

                                                <p>- Daşıyıcı sifariş verildikdən sonra sifariş üzərində heç bir əməliyyat aparmır. (Məhsulun ləğv olunması, rəng və ya ölçünün dəyişməsi və s dəyişikliklər.)</p>

                                                <p>- Daşıyıcı sifarişçinin sifariş etdiyi online ünvanın etibarlılığı, ödəmə şərtləri ilə bağlı heç bir məsuliyyət daşımır.</p>

                                                <p>- Sifariş prosesində hər hansı problem yarandıqda (məhsulun bitməsi, sifariş olunan ölçünün bitməsi, kampaniyanın başa çatması, ödəmə problemi və s.) istifadəçinin ödədiyi məbləğ xarici şirkət tərəfindən kartına geri qaytarılır.</p>

                                                <p>- Ödəniş, sifariş olunan xarici ölkənin valyutası ilə aparılır, əlavə bank komissiyalarına görə Daşıyıcı heç bir məsuliyyət daşımır.</p>

                                                <p>- Sifariş olunmuş məhsulun ödənişi hər hansı səbəbdən geri qaytarılarsa, 5% komissiya geri qaytarılmır.</p>

                                                <p>- Sifariş ilə bağlı yaşanmış hər hansı problem zamanı istifadəçiyə telefon və ya email vasitəsi ilə məlumat verilir. Sifarişin tamamlanması ilə bağlı problem yarana bilər.</p>

                                                <p>- Sifariş olunmuş məhsulun ödənişi aşağıdakı hallarda müştəriyə geri qaytarılır:&nbsp;</p>

                                                <p>a) Məhsul satıcı firmanın balansında tükəndikdə;</p>

                                                <p>&nbsp;b) Müştəri yanlışlıqla balansına vəsait daxil etdikdə</p>

                                                <p>c) Müştəri sifarişdən imtina etdikdə;&nbsp;</p>

                                                <p>q) Satıcı firma tərəfindən sifariş ləğv edildikdə.&nbsp;</p>

                                                <p>&nbsp;</p>

                                                <p>- Sifariş olunmuş malın daşıyıcının anbarına daxil olması barədə sifarişçiyə məlumat verildikdən 15 gün ərzində mal təhvil götürülməzsə, anbarda qaldığı hər günə görə Sifarişçi 1 manat dəyərində Daşıyıcıya cərimə ödəməyi öhdəsinə götürür.45 gün ərzində isə bağlama təhvil alınmazsa, növbəti gün  aktlaşdırılaraq, istifadəçinin hesabından silinir. Məbləğ heç bir halda müştəriyə geri qaytarılmır.</p>

                                                <p>&nbsp;- Səbətdə malın saxlama müddəti maksimum 15 gündür. Bu müddətdə mal sifarişçi tərəfindən qəbul edilmədikdə bu sifarişçinin maldan imtina etməsi kimi qəbul olunur.</p>

                                                <p>- Malın qəbulundan imtina edilməsi zamanı sifarişçiyə heç bir məbləğ ödənilmir, sifarişçi 15 günlük cərimə məbləğini&nbsp; daşıyıcıya ödəmədiyi təqdirdə yeni sifariş üçün xidmətdən yararlana bilməyəcək.</p>

                                                <p>- Ödənişlərin karta geri qaytarılması 15 iş günü müddətində icra olunur, bəzi hallarda bu müddətə bir neçə gün banklardan asılı olaraq əlavə ola bilər.</p>

                                                <p>- Tərkibində maye, tez alışan maddələr, batareya və Azərbaycan qanunvericiliyinə qadağan olunmuş məhsullar olan sifarişlər qəbul olunmur.</p>

                                                <p>- Qeyd: Mobil telefonların daşınmasını həyata keçirmirik..</p>

                                                <p>- Çatdırılma haqqı hər bağlamanın çəkisinə görə hesablanır.</p>

                                                <p>- Bu qaydalarla tanış olduqdan sonra Sifarişçi olaraq qeydiyyatdan keçən şəxs bildirmiş olur ki, qaydalarda qeyd olunan hallarla bağlı yaranan istənilən problemə görə “Daşıyıcı”nın məsuliyyət daşımadığını qəbul edir.</p>

                                                <p>- Qaydalara riayət etməyən və qadağan olunmuş malların daşınmasını sifariş verən sifarişçinin qeydiyyatı məlumatlandırmadan sonra davam edəcəyi təqdirdə bloklanacaq.</p>

                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default ">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne2">
                                                    Necə sifariş etməli?
                                                    <i class="fas fa-chevron-down accordion-icon"></i>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne2" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                Əgər Siz məhsulu öz kartınızla ala bilirsinizsə, o halda bunları etməlisiniz<br> <br>1. Əvvəlcə bizim saytda qeydiyyatdan keçirsiniz<br> <br>2. Qeydiyyatdan dərhal sonra yaranmış "Profilim" bölməsinə daxil olursunuz və "Xaricdəki ünvanlarım" bölməsindəki ünvanı məhsul sifariş etdiyiniz saytda tələb olunan ünvan bölməsində qeyd edirsiniz.<br> <br>3. Alış-veriş etdiyiniz saytdan sizin emailinizə göndərilmiş invoysu www.limak.az saytındakı "İnvoys əlavə et" bölməsində əlavə edirsiniz.<br> <br>Əgər sizin kartınız alış-veriş etmək istədiyiniz saytda qəbul olunmursa, o zaman biz sizə "Sifariş et" xidməti təklif edirik.<br> <br>1. Əvvəlcə bizim saytda qeydiyyatdan keçirsiniz<br> <br>2. Qeydiyyatdan dərhal sonra yaranmış "Profilim" bölməsinə daxil olursunuz və "Sifariş et" bölməsindən  bəyəndiyiniz məhsulun linkini seçib əlavə edirsiniz. Sistem Sizə məhsulun qiymətini, ölçüsünü, sifariş etdiyiniz ölkədaxili karqo qiymətini və bizim sizin üçün etdiyimiz sifarişdəki +5 faizlik xərcləri əlavə etməklə yekun məbləği təqdim edəcək. ( Bu məlumatlardan hər hansı biri olmadıqda, onu özünüz əlavə edirsiniz)<br> <br>3. Linkləri saytımıza göndərdikdən sonra bizim hesabımıza yekun məbləği ödəyirsiniz və biz həmin məhsulu sizin üçün alırıq. Belə olan halda invoys da bizim əməkdaşlar tərəfindən əlavə edilir.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>